.profile-header{
    display: flex;
    font-display: column;
    align-items: flex-end;
    justify-content: space-between;
}
.info{
    display: flex;align-items: center;
}

.profile-email{
    color:#a39c9c;
}

.upload-icon{
    background-color: #f5f5f5;
    padding: 8px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
    height: fit-content;
}